.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 50px;
    
    
}
.cart-container{
    margin-top: 55px;
    background-color: #646cffb5;
    /* margin: 30px; */
    text-align: center;
    /* border: 1px solid; */
    border: 1px solid black;
    /* margin-left: -45px; */
    margin-right: 62px;
    border-radius: 5px;

}

